.git
.github
.runlogs
.playwright-cli
docs
output
**/bin
**/obj
**/node_modules
**/dist
**/.vite
**/.turbo
**/coverage
**/cypress/screenshots
**/cypress/videos
**/*.user
**/*.suo
**/*.swp
**/.env
**/.env.*
!**/.env.example
