MSSQL_SA_PASSWORD=
MSSQL_PORT=1433
Jwt__Secret=
Jwt__Issuer=NasaExplorer
Jwt__Audience=NasaExplorerClient
Jwt__AccessTokenMinutes=60
NASA_API_BASE_URL=https://images-api.nasa.gov
NASA_API_KEY=
OPENAI_API_KEY=
VITE_API_BASE_URL=http://localhost:5000
